.navbar 
{
    height: 50px;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 1000;

   background-color: rgba(255, 214, 10, 0.945);
    border-radius: 40px;
    margin-top:30px;
}

.logo {
    object-fit: cover;
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
    height:40px;
    width:40px;
}

/* MENU */
.deskTopMenu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* LINKS */
.desktopMenuListiItem {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* smooth underline effect */
.desktopMenuListiItem {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.desktopMenuListiItem:hover {
    text-decoration: underline;
}

/* BUTTON */
.deskTopMenuBtn {
    background-color: black;
    color:white;
    border: none;
    border-radius: 2rem;
    padding: 0.7rem 1.4rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;
    transition: all 0.3s ease;
}

.deskTopMenuBtn:hover {
    background-color: #007bff;
    color: white;
    transform: translateY(-2px) scale(1.05);
}

.deskTopMenuImg {
    height: 1rem;
    width: 1rem;
    color:white;
}